@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

body::after {
  content: "";
  background: url(../images/salmon.png);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
    width: 435px;
    height: 66px;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin: 39px 92px;
    color: #ffffff;
}

.inputName {
    width: 500px;
    height: 33px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    margin-left: 92px;
    padding-top: 40px;
    color: #ffffff;
}

.note {
    width: 500px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 92px;
    color: #ffffff;
}

.inputBox {
    width: 25%;
    margin-left: 92px;
    font-size: 24px;
    padding: 5px;
}

.next-button1 {
    width: 130px;
    height: 49px;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    background-color: #0ab72c;
    display: inline-block;
    text-decoration: none;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 12px;
}

.line {
    width: 90%;
    border: solid 2px #ffffff;
}